<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>WEB DATA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
<style>
    body {
    background-image: url('https://images.pexels.com/photos/10679528/pexels-photo-10679528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
</style>
<nav class="navbar navbar-expand-lg  bg-dark ">
    <h1 class="navbar-brand text-white" >Web Log DataMining</h1>
    <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
            <a class="nav-link text-white" href="/" >User profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Admin View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/">User Most Frequently Viewed page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/">User Most Frequently Viewed user</a>
        </li>
    </ul>
</nav>

</body>
</html>